@model List<Exam>

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exam Management System</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/asset/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/asset/css/adminlte.min.css">
    <link rel="stylesheet" href="/asset/css/style.css">
    <link rel="stylesheet" href="/asset/tables/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <style type="text/css">
        td a.btn {
            font-size: 0.7rem;
        }

        td p {
            padding-left: 0.5rem !important;
        }

        th {
            padding: 1rem !important;
        }

        table tr td {
            padding: 0.3rem !important;
            font-size: 13px;
        }

        .bg1 {
            background-color: rgb(160,20,79);
            color: rgb(211, 209, 207);
        }

        .bg2 {
            background-color: rgb(20,83,154);
            color: rgb(211, 209, 207);
        }

        .bg3 {
            background-color: rgb(4,91,98);
            color: rgb(211, 209, 207);
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color: #212529;">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars" style="color: rgb(211, 209, 207);"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt" style="color: rgb(211, 209, 207);"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="/Account/Logout   ">
                        <i class="fas fa-power-off" style="color: rgb(211, 209, 207);"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #212529;">
            <!-- Brand Logo -->
            <img src=/images/logo.jpg alt="DSMS Logo" width="248" height="110" style="margin-bottom: 10px;">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->

                <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #212529;">
                    <!-- Brand Logo -->
                    <img src=/images/logo.jpg alt="DSMS Logo" width="248" height="110" style="margin-bottom: 10px;">
                    <!-- Sidebar -->
                    <div class="sidebar">
                        <!-- Sidebar Menu -->
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-item">
                                    <a onclick="window.location.href='/Examiner/Index'"
                                       class="nav-link">
                                        <i class="nav-icon fa fa-tachometer-alt"></i>
                                        <p>
                                            Dashboard
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a onclick="window.location.href='/Examiner/Exam'" class="nav-link">
                                        <i class="nav-icon fa fa-file-signature"></i>
                                        <p>
                                            Exam
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a onclick="window.location.href='/Examiner/Reference'" class="nav-link">
                                        <i class="nav-icon far fa-file-word"></i>
                                        <p>
                                            Reference
                                        </p>
                                    </a>



                                <li class="nav-item">
                                    <a onclick="window.location.href='/Examiner/Subject'" class="nav-link">
                                        <i class="nav-icon fa fa-book"></i>
                                        <p>
                                            Subject
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a onclick="window.location.href='/Examiner/Overview'"
                                       class="nav-link">
                                        <i class="nav-icon fa fa-poll"></i>
                                        <p>
                                            Overview
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                </aside>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0" style="color: rgb(31,108,163);"><span class="fa fa-chart-bar"></span> Exam Result Summary</h1>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Exam Result Summary</li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="chart-title">
                                                <h4>Score Report</h4>
                                            </div>
                                            <table class="table table-bordered mytable">
                                                <thead>
                                                <th>Exam</th>
                                                <th>Passed</th>
                                                <th>Failed</th>
                                                </thead>
                                                <tbody>
                                                    @* @foreach  *@

                                                    @{
                                                        @foreach (var exam in Model)
                                                        {
                                                            <tr>
                                                                <td>@exam.ExamName</td>
                                                                <td>@exam.DateCreated.ToString("dd-MMM yyyy")</td>
                                                                <td>@exam.TimeAllocated</td>
                                                            </tr>
                                                        }
                                                    }

                                                    @* <tr>
                                                    <td>Exam 5</td>
                                                    <td>31</td>
                                                    <td>4</td>
                                                    </tr> *@

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="chart-title">
                                                <h4>Score Bar Chart</h4><br>
                                            </div>
                                            <canvas id="bargraph"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <!-- /.card-body -->
    </div>
    </div>
    <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/asset/jquery/jquery.min.js"></script>
    <script src="/asset/js/bootstrap.bundle.min.js"></script>
    <script src="/asset/js/adminlte.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/asset/tables/datatables/jquery.dataTables.min.js"></script>
    <script src="/asset/tables/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/asset/tables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>s
    <script src="/asset/tables/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
    <script src="/asset/js/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Bar Chart
            var barChartData = {
                labels: ["Exam 1", "Exam 2", "Exam 3", "Exam 4", "Exam 5"],
                datasets: [{
                    label: 'Passed',
                    backgroundColor: 'rgb(79,129,189)',
                    borderColor: 'rgba(0, 158, 251, 1)',
                    borderWidth: 1,
                    data: [30, 25, 30, 33, 41]
                },
                {
                    label: 'Failed',
                    backgroundColor: 'rgb(192,80,77)',
                    borderColor: 'rgba(0, 158, 251, 1)',
                    borderWidth: 1,
                    data: [5, 10, 5, 2, 4]
                }]
            };

            var ctx = document.getElementById('bargraph').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        display: true,
                    }
                }
            });

        });
    </script>
</body>

</html> 