@model ExamSystem.Models.ViewModels.SubjectViewModel;
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exam Management System</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/asset/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/asset/css/adminlte.min.css">
    <link rel="stylesheet" href="/asset/css/style.css">
    <link rel="stylesheet" href="/asset/tables/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <style type="text/css">
        td a.btn {
            font-size: 0.7rem;
        }

        td p {
            padding-left: 0.5rem !important;
        }

        th {
            padding: 1rem !important;
        }

        table tr td {
            padding: 0.3rem !important;
            font-size: 13px;
        }

        .bg1 {
            background-color: rgb(160,20,79);
            color: rgb(211, 209, 207);
        }

        .bg2 {
            background-color: rgb(20,83,154);
            color: rgb(211, 209, 207);
        }

        .bg3 {
            background-color: rgb(4,91,98);
            color: rgb(211, 209, 207);
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color: #212529;">
            <!-- Left navbar links -->

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars" style="color: rgb(211, 209, 207);"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt" style="color: rgb(211, 209, 207);"></i>
                    </a>
                </li>
                   <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="/Account/Logout   ">
                        <i class="fas fa-power-off" style="color: rgb(211, 209, 207);"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #212529;">
            <!-- Brand Logo -->
            <img src=/images/logo.jpg alt="DSMS Logo" width="248" height="110" style="margin-bottom: 10px;">
          
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
              <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a onclick="window.location.href='/Examiner/Dash'"
                               class="nav-link">
                                <i class="nav-icon fa fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a onclick="window.location.href='/Examiner/Index'" class="nav-link">
                                <i class="nav-icon fa fa-file-signature"></i>
                                <p>
                                    Exam
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a onclick="window.location.href='/Examiner/Reference'" class="nav-link">
                                <i class="nav-icon far fa-file-word"></i>
                                <p>
                                    Reference
                                </p>
                            </a>
                        <li class="nav-item">
                            <a onclick="window.location.href='/Examiner/Subject'" class="nav-link">
                                <i class="nav-icon fa fa-book"></i>
                                <p>
                                    Subject
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a onclick="window.location.href='/Examiner/Overview'"
                               class="nav-link">
                                <i class="nav-icon fa fa-poll"></i>
                                <p>
                                    Overview
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <!-- Content Header (Page header) -->
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0" style="color: rgb(31,108,163);"><span class="fa fa-book"></span> Subject</h1>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Subject</li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-info">
                        <!-- form start -->
                        <form asp-controller="Examiner" asp-action="Subject" enctype="multipart/form-data"
                              method="post">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card-header">
                                            <span class="fa fa-book"> Subject Information</span>
                                        </div>
                                        <br><br><br>
                                        <div class="row">


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="SubjectName">Subject Name</label>
                                                    <input asp-for="SubjectName"
                                                           type="text" class="form-control" placeholder="ex. Mathematics">
                                                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Description">Description</label>
                                                    <textarea asp-for="Description" class="form-control"></textarea>
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <label asp-for="ImageUrl">Image</label>
                                            <div class="col-lg-99">
                                                <input asp-for="ImageUrl" class="form-control">
                                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <br><br><br>

                                        <div class="form-group">
                                            <button type="submit" value="Create" class="btn bg2">Save</button>
                                            <button type="submit" class="btn bg1">Cancel</button>
                                        </div>
                        </form>
                    </div>

                    <div class="col-md-9 table-responsive" style="border-left: 1px solid #ddd;">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Subject Name</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               @* delete subject *@
                               @{
                                    foreach (var sub in ViewBag.Subjects){
                                <tr>
                                    <td>@sub.SubjectName</td>
                                        <td class="text-right">
                                        <a class="btn btn-sm bg3" href="#"><i class="fa fa-edit"></i> edit</a>
                                        <a class="btn btn-sm bg1" href="/Examiner/DeleteSub?id=@sub.SubjectId">
                                            <i class="fa fa-trash-alt"></i> delete
                                        </a>
                                    </td>
                                </tr>

                                    }
                               }

                               
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

    </div>
    <!-- /.card-body -->
    </div>
    </div>
    <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
 
    <!-- jQuery -->
    <script src="/asset/jquery/jquery.min.js"></script>
    <script src="/asset/js/bootstrap.bundle.min.js"></script>
    <script src="/asset/js/adminlte.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/asset/tables/datatables/jquery.dataTables.min.js"></script>
    <script src="/asset/tables/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/asset/tables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>s
    <script src="/asset/tables/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
</body>

</html>